.order-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.order-section-title{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: 60px;
}
.order-section{
  width: 1100px;
  display: flex;
  flex-direction: column;

}
