.promo-bar{
  display: flex;
  justify-content: center;
  min-height: 80px;
  border-bottom: 1px solid #d4cbc7;
}
.promo-bar-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #451400;
  width: 90%;
  max-width: 800px;
}
.promo-bar-content>img{
  height: 62px;
  margin: 5px;
}
.promo-bar-content>h2{
  font-size: 1.2em;
  margin: 5px 20px;
}
.promo-bar-account{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
}
.promo-bar-account>h5{
  margin: 0 15px;
  font-size: 1em;
  font-weight: 500;
}
.promo-bar-account>h4{
  font-size: 1em;
  font-weight: 600;
  transform: scale(1, 1.2);
  display: inline-flex;
  min-width: 80px;
  text-decoration: underline;
  cursor: pointer;
  color: #b68207;
}
.button{
  height: 30px;
  flex-grow: 1;
  width: 100%;
  font-weight: 800;
  border: 1px solid #451400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button>span{
  padding: 0 7px;
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  transform: scale(1, 1.4);
  cursor: pointer;
}