.checkout {
  visibility: hidden;
  background-color:rgb(0,0,0);
  background-color:rgb(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.checkout-visible {
  visibility: visible;
}
.checkout-content {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 430px;
  height: 100%;
  z-index: 103;
}
.checkout-group-order {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  color: #b68207;
  cursor: pointer;
  border-bottom: 1px #d4cbc7 solid;
}
.checkout-group-order>h3 {
  font-size: 1.2em;
  border-bottom: 2px solid #b68207;
}
.checkout-group-icon {
  margin-right: 22px;
  transform: scale(1.8);
}
.checkout-close {
  color: #451400;
  float: right;
  font-size: 2.5em;
  cursor: pointer;
  position: absolute;
  right: 50px;
  /* align-items: flex-end; */
  /* margin-left: 50px; */
}
.checkout-and-close {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.checkout-list {
  margin: 0 25px;
}
.checkout-customer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #451400;
}
.checkout-customer>input {
  width: 78%;
  border: none;
  border-bottom: 2px solid #451400;
  font-size: 1em;
  height: 20px;
  outline: none;
  font-weight: 600;
}
.checkout-customer>h5:nth-child(2) {
  margin-left: auto;
  font-size: 1.2em;
}
.checkout-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  font-size: 1.3em;
  color: #451400;
}
.checkout-product>h5:first-child {
  width: 78%;
  margin-top: 13px;

}
.checkout-product>h5:nth-child(2) {
  margin-left: auto;
  font-size: 0.9em;
  font-weight: 100;
  margin-top: 13px;
}
.checkout-product-detail {
  color: #786259;
  font-size: 0.9em;
  line-height: 1.3em;
}
.checkout-product-detail>p {
  margin-top: 0;
}
.checkout-product-ops {
  font-weight: 600;
  font-size: 0.8em;
  color: #451400;
  text-decoration: underline;
  cursor: pointer;
}
.checkout-product-ops>span {
  margin-right: 10px;
}
.checkout-product-underline {
  margin-top: 25px;
  border-bottom: 1px solid #786259;
}
.checkout-addition>p {
  text-align: center;
  color: #786259;
  font-weight: 600;
  font-size: 0.85em;
  margin-top: 25px;
  margin-bottom: 0;
}
.checkout-add-btn {
  border: 1px solid #451400;
  color: #451400;
  text-align: center;
  margin: 0 25px;
  font-size: 0.9em;
}
.checkout-add-btn>h3 {
  margin: 16px 0;
  transform: scale(0.9, 1.2);
}
.break-line {
  border-bottom: 1px solid #786259;
  margin-top: 20px;
}
.checkout-summary {
  background-color: #f7f2ed;
  color: #451400;
  font-family: Arial, Helvetica, sans-serif;

}
.checkout-summary-total {
  margin: 25px 25px;
}
.checkout-summary-total-text {
  width: 78%;
}
.checkout-summary-total-price {
  margin-left: auto;
}