.checkout {
  visibility: hidden;
  background-color:rgb(0,0,0);
  background-color:rgb(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.checkout-visible {
  visibility: visible;
}
.checkout-content {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 430px;
  height: 100%;
  z-index: 103;
}
.checkout-group-order {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  color: #b68207;
  cursor: pointer;
  border-bottom: 1px #d4cbc7 solid;
}
.checkout-group-order>h3 {
  font-size: 1.2em;
  border-bottom: 2px solid #b68207;
}
.checkout-group-icon {
  margin-right: 22px;
  transform: scale(1.8);
}
.checkout-close {
  color: #451400;
  float: right;
  font-size: 2.5em;
  cursor: pointer;
  position: absolute;
  right: 50px;
  /* align-items: flex-end; */
  /* margin-left: 50px; */
}
.checkout-and-close {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.margin {
  margin: 0 25px;
}
.checkout-addition>p {
  text-align: center;
  color: #786259;
  font-weight: 600;
  font-size: 0.85em;
  margin-top: 25px;
  margin-bottom: 0;
}
.checkout-add-btn {
  border: 1px solid #451400;
  color: #451400;
  text-align: center;
  margin: 0 25px;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.checkout-add-btn>h3 {
  margin: 16px 0;
  transform: scale(0.9, 1.1);
}
.break-line {
  border-bottom: 1px solid #d4cbc7;
}
.checkout-summary {
  background-color: #f7f2ed;
  color: #451400;
  font-family: Arial, Helvetica, sans-serif;
}
.checkout-summary-total {
  margin: 25px;
  margin-top: 0;
  padding-top: 25px;
  display: flex;
}
.checkout-summary-total-text {

}
.checkout-summary-total-price {
  margin-left: auto;
}
.checkout-scroll {
  overflow: scroll;
}
.checkout-btn {
  background-color: #451400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}
.bold-text {
  font-weight: 600;
}
.checkout-summary-tax {
  margin: 0 25px;
  margin-top: -20px;
  margin-bottom: 20px;
  display: flex;
}
.checkout-promo-code{
  display: flex;
}
.checkout-promo-code>span{
  margin-left: auto;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
}
.checkout-promo-code>input{
  border: none;
  background-color:#f7f2ed;
  outline: none;
  width: 87%;
}
.checkout-grand-total {
  font-size: 1.2em;
  margin: 25px;
  margin-bottom: 0;
  padding-bottom: 25px;
  display: flex;
}
