.order{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
@media(max-width: 1024px){
  .order{
    margin-bottom: 60px;
  }
}